/* Committee */

.p-contact p{
    font-size: 16px;
    color: black;
    text-shadow: 1px 1px 2px white;
    font-family: Impact;
}

.p-contact-1 p{
    font-size: 16px;
    color: white;
    text-shadow: 1px 1px 2px black;
    font-family: Impact;
}


/* media */

@media(max-width: 800px) {
    .committee h4{

        font-size: 15px;
    }
    .committee p{
        font-size: 10px;
    }
    .committee h3{
        font-size: 14px;
    }
    .committee h2{
        font-size: 13px;
    }
}